<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content=" #7159c1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../bootstrap3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/tree.css">
  <link rel="icon" href="../img/icon.png">
  <title></title>
</head>

<body>
  <header>
    <label for="checkbox" id="menu">
      <div id="botao" data-js="button"></div>
    </label>
    <input type="checkbox" id="checkbox">
    <nav id="nav-lateral" data-js="navtrasfrome">
      <ul>
        <li><a href="/"> <span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="pets.html"> </span> PET's</a></li>
        <li><a data-js="nav" href="inscricao.html"><span class="glyphicon glyphicon-pencil"></span>Inscreva-se</a></li>
      </ul>
    </nav>
    <div id="logo">
      <img src="../img/icon.png">
    </div>
  </header>
  <section id="content">
    <div class="container">
      <div class="row pets" data-js="membros">
      </div>
    </div>
  </section>
  <footer>
    <h3>PET Conexão dos Saberes - UFVJM</h3>
    <div class="roda-pe">
      <h3 class="title-block"></h3>
      <ul>
        <li><a href="#"><img src="../img/icon.png"></a></li>
        <li><a href="#"><img src="../img/ufvjmAeria.JPG"></a></li>
        <li><a href="#"><img src="../img/fundo-site-expo.png"></a></li>
        <li><a href="#"><img src="../img/fundo.jpeg"></a></li>
      </ul>
    </div>
  </footer>

</body>
<script src="../src/app.js"></script>
<script src="../src/js.js"></script>
<script src="../src/tamplate-enge.js"></script>

</html>