<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content=" #7159c1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/tree.css">
  <link rel="icon" href="../img/logo.jpeg">
  <title>PET's</title>
</head>

<body>
  <header>
    <label for="checkbox" id="menu">
      <div id="botao" data-js="button">
        <span></span>
        <span class="inline"
        ></span>
        <span></span>
      </div>
    </label>
    <input type="checkbox" id="checkbox">
    <nav id="nav-lateral" data-js="navtrasfrome">
      <ul>
        <li><a href="/"> <span class="glyphicon glyphicon-home">
        </span> Home</a></li>
        <li><a href="pets.html"> </span> PET's</a></li>
        <li><a href="inscricao.html"><span class="glyphicon glyphicon-pencil">

        </span>Inscreva-se</a></li>
      </ul>
    </nav>
    <div id="logo">
      <img src="../img/logo.jpeg">
    </div>
  </header>
  <section id="content">
    <div>
      <div class="pets flex-content-pets" data-js="membros">
      </div>
    </div>
  </section>
  <footer class="fex-content">
    <div class="fex-content">


      <ul class="footer">
        <li>
          <h3>PET Conexão dos Saberes - UFVJM</h3>
        </li>
        <li id="feedback"><a href="mailto:tales.felix.10@gmail.com">Feedeback</a></li>
      </ul>
      <div class="roda-pe">
        <h3 class="title-block"></h3>
        <ul>
          <li><a href="https://petconexaoufvjm.weebly.com" target="_blank"><img src="../img/icon.png"></a></li>
          <li><a href="http://portal.ufvjm.edu.br" target="_blank"><img src="../img/ufvjm.jpg"></a></li>
          <li><a href="http://nitufvjm.com.br" target="_blank"><img src="../img/citec.png"></a></li>
        </ul>
      </div>
    <div class="dev">
      <a href="#">By@itals</a>
    </div>
    </div>
  </footer>

</body>
<script src="../src/app.js"></script>
<script src="../src/js.js"></script>

</html>