<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content=" #7159c1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/tree.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/logo.jpeg">
  <title>PET's</title>
</head>

<body>
  <header>
    <label for="checkbox" id="menu">
      <div id="botao" data-js="button">
        <span></span>
        <span class="inline"
        ></span>
        <span></span>
      </div>
    </label>
    <input type="checkbox" id="checkbox">
    <nav id="nav-lateral" data-js="navtrasfrome">
      <ul>
        <li><a href="/"> <span class="glyphicon glyphicon-home">
        </span> Home</a></li>
        <li><a href="pets.html"> </span> PET's</a></li>
        <li><a href="inscricao.html"><span class="glyphicon glyphicon-pencil">

        </span>Inscreva-se</a></li>
      </ul>
    </nav>
    <div id="logo">
      <img src="../img/logo.jpeg">
    </div>
    <div class="dev">
      <a href="http://italsblog.epizy.com/" target="blank">By@itals</a>
    </div>
  </header>
  <section id="content">
    <div>
      <div class="pets flex-content-pets" data-js="membros">
      </div>
    </div>
  </section>
  <footer class="fex-content">
    <div class="fex-content">


      <ul id="foodiv">
        <li>
          <h3>PET Conexão dos Saberes - UFVJM</h3>
          <li><a href="https://www.instagram.com/petconexaodossaberesufvjm/" target="blank"><span class="glyphicon glyphicon-unchecked">Instagram</span></a></li>
          <li><a href="https://www.youtube.com/channel/UCNNfnz7ibj98f_Kq_Wuxk5A" target="blank"><span class="glyphicon glyphicon-step-forward">YouTube</span></a></li>
        <li id="feedback"><a href="mailto:tales.felix.10@gmail.com" style="color: white;">Feedback</a></li>
        </li>
      </ul>
      <div class="roda-pe">
        <h3 class="title-block"></h3>
        <ul>
          <li><a href="https://www.instagram.com/petconexaodossaberesufvjm/" target="blank"><img src="..//img/photo.jpg"></a></li>
          <li><a href="http://portal.ufvjm.edu.br" target="blank"><img src="../img/ufvjm.jpg"></a></li>
        </ul>
      </div>
    </div>
  </footer>

</body>
<script src="../src/app.js"></script>
<script src="../src/js.js"></script>

</html>