/* tem que ver a font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
:root {
  --color-grean: #50fa7b;
  --color-rockt: #7159c1;
}

input#checkbox{
  display: none;
}
/* input#checkbox:checked ~ nav{
  transform: translateX(250px);
  left: 0px;
} */

nav#nav-lateral{
 width: 70%;
 height: 200px;
 background-color: #000000b3;
 position: absolute;
 /* left: -250px; */
 transition: all 0.5s;
 border-bottom-right-radius: 20px;
 border-bottom-left-radius: 20px;
 top: 0;
 z-index: 1;
}
nav#nav-lateral ul{
  top: 50px;
  position: absolute;
  width: 100%;
  text-align: center;
}
#logo img{
  width: 40px;
  height: 40px;

}

nav#nav-lateral li{
  text-decoration: none;
  list-style: none;
  z-index: 1;
}
nav#nav-lateral span{
margin-right: 10px;
}
nav#nav-lateral a{
  text-decoration: none;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  border-bottom: 1px solid var(--color-grean);
  text-align: center;
  display: block;
  padding: 10px;
  font-size: 18px;
  
}


nav#nav-lateral a:hover{
  color:  var(--color-grean);
  background-color: rgb(0,0,0,0.7);
  transition: color 700ms;
  border-bottom-color: var(--color-rockt);
  transition: 0.5s;
}
label#menu{
  position: absolute;
  z-index: 2;
}
#logo{
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  border-bottom: 1px solid #333;
  padding: 20px;
}

#logo img{
  width: 60px;
  height: 60px;
  opacity: 0.7;
  border-radius: 20px;
  border: solid 2px var(--color-grean);
  padding: 5px;
}
.displayZero{
  left: 0px;
}
.displayNormal{
  left: -70%;
}
@media(min-width:600px){
  .displayNormal{
    left: 0px;
  }
  nav#nav-lateral{
    width: 100%;
    height: 100px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 10px 0;
    position: relative;
    margin: 0;
  }
  nav#nav-lateral ul{
    margin: 0 auto;
    left: 0;
  }
  nav#nav-lateral li{
    display: inline;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
  }
  nav#nav-lateral a{
    display: inline;
    padding: 5px 10px;
    border: solid 1px var(--color-grean);
  }
  nav#nav-lateral a:hover{
    border-color: var(--color-rockt);
  }
  #botao{
  display: none;
  }
  #logo{
    display: none;
  }
}
@media(max-width:250px){
  nav#nav-lateral{
    width: 100%;
   }
  .displayNormal{
    left: -100%;
  }
}

#botao{
  width: 50px;
  height: 50px;
  border-radius: 7px;
  text-align: center;
  background-color: var(--color-rockt);
  font-size: 30px;
  cursor: pointer;
}
#botao:hover{
background-color: var(--color-grean);
}
#botao span{
  right: 5px;
  border-bottom: solid 5px white;
  width: 40px;
  margin-top: 5px;
  position: absolute;
  top: 17px;

}
.none{
  opacity: 0;
}
.inline{
  display: inline;
  transition: 0.5s;
}
.rotate0{
  transform: rotate(-45deg);
  transition: 0.5s;
}
.rotate1{
  transform: rotate(45deg);
  transition: 0.5s;
}