/* tem que ver a font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
:root {
  --color-grean: #50fa7b;
  --color-rockt: #7159c1;
}
*{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  font-family: monospace;
  text-decoration: none;
}
body{
  color: white;
  background: #282a36;
}
h1{
  font-size: 40px;
  margin: 20px 0px;
}
h2{
  font-size: 30px;
  margin: 20px 0px;
}
h3{
  font-size: 20px;
  margin: 20px 0px;
  color: #7e8194;
}
footer{
  margin-top: 10px;
  padding: 10px;
}
.icon-block{
  float: right;
  font-size: 30px;
  color: #25b6da;
}
#conteudo{
  text-align: center;
  padding: 10px;
  margin: 20px 5px;
  width: 60%;
  margin: 0 auto;
}
#conteudo a{
color: var(--color-grean);
}

.icon{
  width: 150px;
  height: 150px;
  border-radius: 50px;
  border: solid 2px var(--color-grean);
  padding: 30px;
  margin: 10px;
}

#conograma{
  font-size: 18px;
  text-align: center;
  padding: 5px;
  list-style: none;
  font-weight: bold;
}

#conograma li{
  margin: 20px auto;
  background: var(--color-rockt);
  border-radius: 5px;
  color: white
}
#conograma span{
  color: rgb(34, 33, 33);
  margin-left: 10px;
}
.title-block{
  text-align: center;
  border-bottom: solid 1px #3d3b3b;
  color: #7e8194;
  font-size: 22px;
}

.roda-pe{
list-style: none;
text-align: center;
}
.roda-pe li{
  display: inline-block;
  margin: 10px 25px;
  
}
.roda-pe img{
  border-radius: 10px;
  
  width: 30px;
  height: 30px;
  }

#iframe{
  width: 100%;
  height: 800px;
}

p#sobre{
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}



.img-circo{
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: solid 2px var(--color-rockt);
  display: inline-block;
}
.img-circo-org{
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: solid 2px var(--color-rockt);
  display: inline-block;
}
.pet-membros{
  display: inline-block;
  text-align: center;
  width: 75px;
  margin: 5px 10px;
  list-style: none;
}
.img-pets{
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 100%;
  border: solid 2px var(--color-grean);
  float: right;
   margin-top: -10px;
  }
  footer{
    background-color: #00000033;
    border-top: #3d3b3b solid 1px;
    border-radius: 10px;
  }
  .footer li{
    display: inline-block;
  }
  .footer li>h3{
    margin-bottom: 0px;
  }
  #feedback{
   float: right;
    background-color: var(--color-rockt);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  #feedback:hover{
    background-color: var(--color-grean);
    transition: 0.5s;
  }
  #feedback a{
    color: white;
    text-decoration: none;
  }

.bloco{
  margin: 30px 30px 10px 10px;
  padding: 15px;
  background-color: #00000033;
  border-radius: 10px;
  box-shadow: 2px 5px  #7159c1;
}
.p-background{
}
  
  @media(min-width: 768px){
    .flex-content{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .bloco{
      width: 40%;
    }
    .conteudo{
      width: 60%;
    }
    .flex-content-pets{
      display: flex;
      justify-content: center;
      flex-flow: wrap;
      align-items: center;
    }
  }
  span.check-list{
    color: #fbc02d;
  }

  @font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
  }

  .glyphicon {
    position: relative;
 
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .glyphicon-home:before {
    content: "\e021";
  }
  .glyphicon-pencil:before {
    content: "\270f";
  }
  .glyphicon-plus-sign:before {
    content: "\e081";
  }
  .glyphicon-minus-sign:before {
    content: "\e082";
  }
  .glyphicon-remove-sign:before {
    content: "\e083";
  }
  .glyphicon-ok-sign:before {
    content: "\e084";
  }
  .glyphicon-question-sign:before {
    content: "\e085";
  }
  .glyphicon-info-sign:before {
    content: "\e086";
  }